main {
  display: flex;
  padding-top: 80px;
  margin-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-size: cover;
  height: 600px;
  align-items: flex-start;
  position: relative;
  color: #e4f2fa;
}
