body {
  height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  /* padding-top: 80px; */
  padding-left: 40px;
  padding-right: 40px;
  background-size: cover;
  height: 80vh;
  /* height: 584.5px; */
  align-items: flex-start;
  position: relative;
  color: #e4f2fa;
  gap: 3px;
  align-content: center;
  justify-content: center;
}
