.header {
  display: flex;
  background-color: #13152b;
  height: 10vh;
  font-family: fantasy;
  align-items: center;
  color: #e4f2fa;
  justify-content: space-around;
  font-size: 1.7em;
  justify-content: center;
}

.header h2 {
  margin-left: 95px;
  margin-right: 100px;
  font-weight: lighter;
}

.header-img {
  width: 5%;
  padding-left: 50px;
  padding-right: 50px;
}
